# TODO : Change Environment for Deploy Volttron as a system Services
# VOLTTRON SystemD unit
# Exec Start exectues the volttron platform script built by bootstrap
# This does not have to activate the virtualenv as the script will do that
[Unit]
Description=VOLTTRON Platform Service
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/workspace/enerkey_os
#Uncomment and change this to specify a different VOLTTRON_HOME
Environment="VOLTTRON_HOME=/home/pi/.volttron"
ExecStart=/home/pi/workspace/enerkey_os/volttron/env/bin/volttron -vv
ExecStop=/home/pi/workspace/enerkey_os/volttron/env/bin/volttron-ctl shutdown --platform

[Install]
WantedBy=multi-user.target
